# Java
*.class
*.log
hs_err_pid*

# Git
.gitignore

# Ignore Gradle project-specific cache directory
.gradle
build
dist

# IntelliJ
*.iml
*.ipr
*.iws
.idea
bin

# Eclipse
.settings
.project
.classpath
